h1.drink-title {
    font-size:10vmin;
}

div.details-box {
    font-size:4vmin;
    color:#4d0000;
    background-color:#ffffff;
    margin: 3% 3% 6%;
}

div.background-image {
    background-size:cover;
    background-position: center;
}

div.transparency {
    background-color: rgba(0, 0, 0, 0.6);
}
div.drink-image {
    margin-bottom:4%;
}
div.drink-info {
    padding:8%;
    margin-bottom:4%;
}

.drink-glass {
    margin-top: 4%;
}
