
*, *::before, *::after {
    box-sizing: border-box;
}

.container.checked_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.checked_input {
    position: absolute;
    left: -9999px;
}

label.checked_label {
    display: block;
    position: relative;
    margin: 10px;
    padding: 15px 30px 15px 62px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #4d0000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

label.checked_label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}

/* Translate elements horizontally */
label.checked_label:first-of-type {
     transform: translateX(10px);
}

label.checked_label:last-of-type {
    transform: translateX(-10px);
}

label.checked_label:hover, input.checked_input:focus + label.checked_label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input.checked_input:checked + label.checked_label {
    color: #4d0000;
    background-color: white;
}

input.checked_input:checked + label.checked_label::before {
    color: white;
    background-color: #4d0000;
}
