
div.about {
    font-size:3vmin;
    color:#b79898;
    position:absolute;
    bottom:0;
}

Button.opening {
    font-size:5vmin;
}

h1.opening {
    font-size:12vmin;
    font-family: Droid Sans;
    margin-top: 10%;
    margin-bottom: 1em;
}

a.subtle {
    color:#9898b7;
}
